    body {
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;

    }
    .animation {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    #canvas {
        display: block;
        padding: 0;
        margin: 0 auto;
    }

    @media(max-width:1400px) {
        .container {
            margin: 0 50px;
        }
        #canvas {
            width: 100%;
            height: auto;
        }
    }


@media(min-width: 992px) {
    .animation {
        top: -200px;
        height: auto;
        display: block;
    }

    .animation {
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
}

h2 {
    text-align: center;
    font-size: 45px;
    position: relative;
    bottom: 20%;
    font-weight: 300;
    font-family: sans-serif;
    color: #CAA93C;
    margin: 2px;
    padding: 2px;
}

h3 {
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 20%;
    font-weight: 300;
    font-family: sans-serif;
    color: #CAA93C;
    margin: 2px;
    padding: 2px;
}